# Editor temp files
*~

# macOS Finder attribute files
.DS_Store

.idea
*.aux
*.log
*.out
*.toc

# Python virtual environments
.venv

# Build outputs
dist
cache

# Node.JS dependencies
node_modules

# Symlinks
lusd
