[submodule "LUSDChickenBonds/lib/ds-test"]
	path = LUSDChickenBonds/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "LUSDChickenBonds/lib/openzeppelin-contracts"]
	path = LUSDChickenBonds/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "LUSDChickenBonds/lib/forge-std"]
	path = LUSDChickenBonds/lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "LUSDChickenBonds/lib/uniswapV2"]
	path = LUSDChickenBonds/lib/uniswapV2
	url = https://github.com/Uniswap/v2-core
[submodule "LUSDChickenBonds/lib/uniswapV2-periphery"]
	path = LUSDChickenBonds/lib/uniswapV2-periphery
	url = https://github.com/Uniswap/v2-periphery
