# Editor temp files
*~

# macOS Finder attribute files
.DS_Store

.idea
*.aux
*.log
*.out
*.toc

# Python virtual environments
.venv

# Node.JS dependencies
node_modules

# Deployment artifacts
out
cache
