[submodule "LUSDChickenBonds/lib/ds-test"]
	path = LUSDChickenBonds/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "LUSDChickenBonds/lib/openzeppelin-contracts"]
	path = LUSDChickenBonds/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "LUSDChickenBonds/lib/forge-std"]
	path = LUSDChickenBonds/lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "LQTYChickenBonds/lib/forge-std"]
	path = LQTYChickenBonds/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
